table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  width: 50px;
}
th {
  text-align: left;
  padding: 0px 5px;
}
th:first-of-type,
th:first-of-type {
  width: 100px;
}
select {
  width: 100%;
  border: 0px;
  font-weight: bold;
}
input {
  width: 100%;
  border: 0px;
  text-align: right;
}
#container {
  max-width: 800px;
  border: 1px solid black;
}
#tableDiv {
  border: 1px solid black;
  display: inline-block;
  /* max-width: 790px; */
  width: 100%;
  margin: auto;
}
.tableButtons {
  padding: 0;
  width: 15px;
  height: 15px;
  line-height: 100%;
}
#addExercise {
  width: 110px;
}
